<div class="header">
    <div class="title" trans>HomePage Albums</div>
    <div class="subtitle" trans>Albums to show in Home Page Logged In Users.</div>
</div>

<form class="body many-inputs" (submit)="saveSettings()" ngNativeValidate>

        <div class="input-container media-autocomplete-input-container">
                <label for="track-artists" trans>Albums</label>
    
                <input
                        type="text"
                        id="track-artists"
                        [formControl]="artistsInput.formControl"
                        [matAutocomplete]="artistAuto"
                        placeholder="Search albums..."
                        trans-placeholder
                >
    
                <mat-chip-list #chipsList [selectable]="false">
                    <mat-chip *ngFor="let artist of artistsInput.attachedArtists" [removable]="true" (removed)="detachArtist(artist)">
                        <img [src]="artist.image" class="album-circle">
                        {{artist.name}}
                        <svg-icon name="cancel" matChipRemove></svg-icon>
                    </mat-chip>
                </mat-chip-list>
    
                <mat-autocomplete #artistAuto="matAutocomplete" class="media-autocomplete-panel" (optionSelected)="attachArtist($event)">
                    <mat-option *ngFor="let artist of artistsInput.searchResults | async" [value]="artist">
                        <img [src]="artist.image">
                        <span>{{ artist.name }}</span>
                    </mat-option>
                </mat-autocomplete>
    
            </div>
        
    <button mat-raised-button color="accent" class="update-button" type="submit" [disabled]="loading" trans>Update</button>
</form>