<div class="spacing-container">
    <aside class="admin-pill-nav rounded">
        <a class="nav-item" routerLink="trends" routerLinkActive="selected"><div class="name" trans>Trends</div></a>        
        <a class="nav-item" routerLink="sales" routerLinkActive="selected"><div class="name" trans>Sales</div></a>        
        <a class="nav-item" routerLink="shares" routerLinkActive="selected"><div class="name" trans>Shares</div></a>
    </aside>

    <div class="statistics-panels-container">
        <router-outlet></router-outlet>
    </div>
</div>