@import "../../../scss/variables";

$seekbar-height: 40px;

.fullscreen-ads {
  width: $wp-video-minimized-width;
  // height: $wp-video-minimized-height;
  height: 0;
  position: fixed !important;
  right: 0;
  bottom: $wp-controls-height;
  z-index: 3;
  overflow: hidden;
  transition: all .2s cubic-bezier(.25,.8,.25,1);
  padding-top: 20px;

  /* Set our transitions up. */
	-webkit-transition: height 0.3s;
	-moz-transition: height 0.3s;
	transition: height 0.3s;

  &.mobile {
    // display: none;
    height: 0;
  }

  &.mobile-first {
    display: none;
  }

  &.hide-video {
    display: none;
  }

  &.strategy-youtube .youtube-player {
    display: block;
  }

  &.strategy-html5 .ads-html5-player {
    display: block;
  }

  &.strategy-soundcloud .soundcloud-player {
    display: block;
  }
  &.maximized-height {
    height: 100%;    
  }

  &.maximized {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
    bottom: 0;
    background: linear-gradient($wp-bg-color-400, $wp-bg-color-500 85%);
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;

    .carousel {
      width: 100%;
      // padding: 25px 25px 0;
      padding: 5px 25px 0;
    }
  }

  .box-shadow {
    box-shadow: $box-shadow-2;
  }

  .player-container {    
    position: relative;
   
    &.ads-html5-player > video {
      width: 100%;
      height: 100%;
    }
    
  }

  > .top-nav {
    display: flex;
    width: 100%;
    flex: 0 1 auto;
    // padding: 15px 25px 25px;
    padding: 15px 25px 5px;
    min-height: 55px;

    > .toggle-queue {
      margin-left: auto;
      margin-right: 10px;
    }

    > button {
      width: 35px;
      height: 35px;
      vertical-align: middle;

      > svg-icon {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  > .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    a{
      color: inherit;
      
      >h2{
        text-align: center;
      }
    }

    .ads-img-container{
      position: relative;

      .ads-go-text{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        background-color: rgba(18, 32, 42, 0.5);

        >span{
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
          text-transform: capitalize;
          font-size: 2rem;
          color: #fff;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 100%;
          border: 1px solid #fff;
          border-radius: 10px;
          padding: 10px 15px;
        }        
      }
    }

    > .current {
      height: 100%;
      max-width: 100%;
      flex: 1 0 auto;
      position: relative;

      > .player-container, > .video-overlay {
        width: 100%;
        height: 100%;
      }

      > .player-container {
        background-color: #000;
      }

      > .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
      }

      &.no-video{
        img{
          width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  >.ads-title{
    display: none;

    &.ads-title-show{
      display: block;
    }
  }

  > ads-seekbar {
    width: 90%;
    height: $seekbar-height;
    flex: 0 0 $seekbar-height;
    margin: 10px auto;

    > .outer-track {
      .progress-handle {
        top: ($seekbar-height / 2) - ($wp-controls-handle-height / 2);
      }

      .progress-track {
        top: ($seekbar-height / 2) - ($wp-controls-progress-height / 2);
      }
    }
  }

}